# Compiled class file
bin/

# Log file
logs/
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
# *.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IntelliJ IDEA
.idea/
*.iml
tmp/


# Param files for testing
paramFiles/*_*/

# CSV and PKL (python pickle) files should be avoided on git
*.csv
*.pkl

# Output CSV, Log(txt) and image files
output_datasets/*.csv
outputs/*.csv
outputs/*/
outputs/*.txt
outputs/*.png
outputs/*.gif

# pycache
_pycache_
scripts/_pycache_

#Mac file that stores custom attributes of its containing folder, such as the position of icons or the choice of a background image.
**/.DS_Store
